<footer class="info">
    <p class="normal">Ingrese un item a recordar y presione "enter"</p>
    <p class="normal">Doble click para editar un TODO</p>
    <p class="normal">Cada item tiene un estado de Pendiente o Completado,</p>
    <p class="normal">puede filtrar items según su estado.</p>
    <!-- Remove the below line ↓ -->
    <p>Template por: <a href="http://sindresorhus.com">Sindre Sorhus</a> - Parte de: <a href="http://todomvc.com">TodoMVC</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Editado por <a href="http://wzamora.com">William Zamora V.</a> / Código Fuente: <a href="https://github.com/williamzv/todo-redux-app">GitHub</a></p>
</footer>